// header-css-start

.header{
    background: $white;
    z-index: 111;
    position: relative;
    &-top{
        &-links{
            & a{
                color: $white;
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
            }
            & span{
                flex: 0 0 auto;
                width: 24px;
                margin-right: 8px;
                & img{
                    max-width: 24px;
                    max-height: 24px;
                }
            }
            & .sep-left{
                position: relative;
                &::after{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    content: "";
                    background: #fff;
                }
            }
        }
    }
    &-nav{
        & ul{
            margin: 0;
            padding: 0;
            list-style: none;
            & li{
                margin: 0px 3px;
                & a{
                    font-size: 14px;
                    color: $gray-900;
                    display: block;
                    line-height: 21px;
                    text-decoration: none;
                    position: relative;
                    padding: 11px 10px 11px 10px;
                    transition: $transition-base;
                    &:hover{
                        background-color: #f9f9f9;
                    }
                    &.has-dropdown{
                        padding: 11px 42px 11px 10px;
                        &::after{
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            width: 24px;
                            height: 24px;
                            content: "";
                            background-repeat: no-repeat;
                            background-position: center;

                            background-image: url('./images/icons/arrow-down.svg');
                        }
                    }
                }
            }
        }
    }
    &-logo{
        & a {
            & img{
                max-width: 240px;
            }
        }
    }
    &-links{
        & a{
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            color: $gray-900;
            display: inline-flex;
            align-items: center;
            padding: 10px 10px;
            line-height: 1;
            transition: $transition-base;
            &:hover{
                background: #f9f9f9;
            }
            & span{
                flex: 0 0 auto;
                width: 24px;
                margin-right: 8px;
                & img{
                    max-width: 24px;
                    max-height: 24px;
                }
            }
        }
    }
}
